/*
General Styling (Centered Items ...) 
*/
body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

.background-circle {
    position: absolute;
    top: 7.5%;
    left: 95%;
    width: 50px;
    height: 50px;
    background-color: rgba(161, 104, 227, 0); /* Purple with some transparency */
    border-radius: 50%; /* Make it circular */
    animation: stretchGlow 40s ease-in-out infinite;
    transform: translate(-50%, -50%); /* Center the circle */
    z-index: -100; /* Place it behind other content */
}

/* Animation for glowing and stretching */
@keyframes stretchGlow {
    0% {
        transform: translate(-50%, -50%) scale(2);
        box-shadow: 0px 0px 100px 16px rgba(161, 104, 227, 0.9);
    }
    10% {
        transform: translate(-50%, -50%) scale(2.2);
        box-shadow: -500px 200px 120px 28px rgba(161, 104, 227, 0.9);
    }
    20% {
        transform: translate(-50%, -50%) scale(2.2);
        box-shadow: -400px 400px 140px 38px rgba(161, 104, 227, 0.9);
    }
    30% {
        transform: translate(-50%, -50%) scale(2.2);
        box-shadow: -400px 300px 120px 28px rgba(161, 104, 227, 0.9);
    }
    40% {
        transform: translate(-50%, -50%) scale(2.2);
        box-shadow: -500px 400px 140px 38px rgba(161, 104, 227, 0.9);
    }
    50% {
        transform: translate(-50%, -50%) scale(2.4);
        box-shadow: -600px 200px 140px 28px rgba(161, 104, 227, 0.9);
    }
    60% {
        transform: translate(-50%, -50%) scale(2.4);
        box-shadow: -750px 400px 140px 38px rgba(161, 104, 227, 0.9);
    }
    70% {
        transform: translate(-50%, -50%) scale(2.4);
        box-shadow: -250px 450px 140px 38px rgba(161, 104, 227, 0.9);
    } 
    80% {
        transform: translate(-50%, -50%) scale(2.2);
        box-shadow: -300px 200px 120px 18px rgba(161, 104, 227, 0.9);
    }
    90% {
        transform: translate(-50%, -50%) scale(2.4);
        box-shadow: -250px 100px 140px 38px rgba(161, 104, 227, 0.9);
    } 
    100% {
        transform: translate(-50%, -50%) scale(2);
        box-shadow: 0px 0px 100px 16px rgba(161, 104, 227, 0.9);
    }
}

.center-container {
    display: flex;
    justify-content: center;
}
.tile-container-flex {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping to new lines */
    gap: 20px; /* Space between tiles */
    padding: 20px;
  }
.tile {
    /*background-color: #cdaad8; /* Light gray background */
    border-radius: 0.5rem; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(145, 107, 196, 0.705); /* Subtle shadow for depth */
    width: calc(25% - 20px); /* Adjust width as needed */
    box-sizing: border-box; /* Include padding and border in width calculation */
    flex-grow: 1; /* Allow tiles to grow and fill available space */
    margin: 1%; /* Spacing around the tile */
    overflow: hidden; /* Prevent content from overflowing rounded corners */
  }
.tile-content-text button {
    font-size: 80%;
    font-weight: bold;
    background-color: #fefeff;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease; /* Smooth hover transition */
}
.tile-content-text button:hover {
    background-color: #8b1fe4;
    color: #ffff; 
}
.section-tile {
    display: flex;
    justify-content: center;
    border-radius: 0.5rem; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(198, 174, 230, 0.705); /* Subtle shadow for depth */
    margin: 0 2% 0;
}
.section-title {
    color: #ffff;
    font-weight: bold;
}

.login-section {
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}


@keyframes pulseGlow {
    0% {
        box-shadow: 0px 0px 199px 16px rgba(161, 104, 227, 0.9); /* Initial state */
    }
    10% {
        box-shadow: 0px 0px 220px 17px rgba(161, 104, 227, 0.9); 
    }
    20% {
        box-shadow: 0px 0px 240px 18px rgba(161, 104, 227, 0.9); 
    }
    30% {
        box-shadow: 0px 0px 260px 20px rgba(161, 104, 227, 0.9); 
    }
    40% {
        box-shadow: 0px 0px 280px 25px rgba(161, 104, 227, 0.9); 
    }
    50% {
        box-shadow: 0px 0px 300px 30px rgba(161, 104, 227, 0.6); /* Expanded and softer glow */
    }
    60% {
        box-shadow: 0px 0px 280px 25px rgba(161, 104, 227, 0.9); 
    }
    70% {
        box-shadow: 0px 0px 260px 20px rgba(161, 104, 227, 0.9); 
    }
    80% {
        box-shadow: 0px 0px 240px 18px rgba(161, 104, 227, 0.9); 
    }
    90% {
        box-shadow: 0px 0px 220px 17px rgba(161, 104, 227, 0.9); 
    }
    100% {
        box-shadow: 0px 0px 199px 16px rgba(161, 104, 227, 0.9); /* Back to normal state */
    }
}
.login-tile {
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(145, 107, 196, 0.705);
    display: inline-block;
    text-align: center;
    backdrop-filter: blur(10px); /* Blur effect for a glassy look */
    -webkit-box-shadow:0px 0px 199px 16px rgba(161,104,227,0.9);
    -moz-box-shadow: 0px 0px 199px 16px rgba(161,104,227,0.9);
    box-shadow: 0px 0px 199px 16px rgba(161,104,227,0.9);

    animation: pulseGlow 13s ease-in-out infinite;
}

.error hidden {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}

.login-section h2 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 900;
    font-size: 200%;
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #9b43e4, 0 0 25px #7628b6, 0 0 30px #71269c, 0 0 35px #7614b8;
    animation: glow 3s ease-in-out infinite alternate;
}

.login-section button {
    margin-top: 5px;
    text-align: center;
    font-size: 80%;
    font-weight: bold;
    background-color: #fefeff;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease; /* Smooth hover transition */
    overflow: hidden;
}

.login-section button:hover {
    background-color: #8b1fe4;
    color: #ffff; 
}

.login-section input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border 0.3s ease;
    text-align: center;
}

.login-section input:focus {
    border-color: #db91e2;
    -webkit-box-shadow:0px 0px 24px 1px rgba(156,69,214,0.79);
    -moz-box-shadow: 0px 0px 24px 1px rgba(156,69,214,0.79);
    box-shadow: 0px 0px 24px 1px rgba(156,69,214,0.79);
    outline: none;
    overflow: hidden;
}

.login-section input::placeholder {
    text-align: center;
    overflow: hidden;
    color:rgba(0, 0, 0, 0.397) ;
}

.login-section input:focus::placeholder {
    color: transparent;
}

.login-fields {
    margin-top: 3rem;
}

/*
Specific Styling (Text, Images ...)
*/
.title {
    font-family: 'Roboto Mono', monospace;
    font-weight: 900;
    font-size: 200%;
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #9b43e4, 0 0 25px #7628b6, 0 0 30px #71269c, 0 0 35px #7614b8;
    animation: glow 3s ease-in-out infinite alternate;
}
@keyframes glow {
    to {
      text-shadow: 0 0 10px #fff, 0 0 20px #9f0cda, 0 0 30px #710cb4, 0 0 40px #540bb3, 0 0 50px #802ac7, 0 0 60px #9111cc, 0 0 70px #8328eb;
    }
}

.tile-content-text {
    padding: 20px; /* Padding inside the tile */
    text-align: center; /* Center the content */
}
.tile-content-text h2 {
    color: #ffffff; /* Darker text color */
    margin-bottom: 10px;
}
.tile-content-text p {
    color: #b1afaf; /* Grayish text color */
    margin-bottom: 15px;
}
