/*
General Styling (Centered Items ...) 
*/
body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
}
.center-container {
    display: flex;
    justify-content: center;
}
.tile-container-flex {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping to new lines */
    gap: 20px; /* Space between tiles */
    padding: 20px;
  }
.tile {
    /*background-color: #cdaad8; /* Light gray background */
    border-radius: 0.5rem; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(145, 107, 196, 0.705); /* Subtle shadow for depth */
    width: calc(25% - 20px); /* Adjust width as needed */
    box-sizing: border-box; /* Include padding and border in width calculation */
    flex-grow: 1; /* Allow tiles to grow and fill available space */
    margin: 1%; /* Spacing around the tile */
    overflow: hidden; /* Prevent content from overflowing rounded corners */
  }
.tile-content-text button {
    font-size: 80%;
    font-weight: bold;
    background-color: #fefeff; /* Blue button color */
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease; /* Smooth hover transition */
}
.tile-content-text button:hover {
    background-color: #8b1fe4;
    color: #ffff; 
}
/*
Specific Styling (Text, Images ...)
*/
.title {
    font-family: 'Roboto Mono', monospace;
    font-weight: 900;
    font-size: 200%;
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #9b43e4, 0 0 25px #7628b6, 0 0 30px #71269c, 0 0 35px #7614b8;
    animation: glow 3s ease-in-out infinite alternate;
}
@keyframes glow {
    to {
      text-shadow: 0 0 10px #fff, 0 0 20px #9f0cda, 0 0 30px #710cb4, 0 0 40px #540bb3, 0 0 50px #802ac7, 0 0 60px #9111cc, 0 0 70px #8328eb;
    }
}

.tile-content-text {
    padding: 20px; /* Padding inside the tile */
    text-align: center; /* Center the content */
}
.tile-content-text h2 {
    color: #ffffff; /* Darker text color */
    margin-bottom: 10px;
}
.tile-content-text p {
    color: #b1afaf; /* Grayish text color */
    margin-bottom: 15px;
}
